/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(to right, #63c5c5, #3769c0);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    overflow-y: auto;
    padding: 20px;
}

/* Container */
.container {
    background: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    padding: 40px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Logo Image */
img {
    border-radius: 2px;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

/* Divider */
hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}

/* Heading */
h1 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Text Input */
input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #f9f9f9;
    transition: border-color 0.3s, background 0.3s;
}

input[type="text"]:hover {
    background: #f1f1f1;
    border-color: #bbb;
}

input[type="text"]:focus {
    border-color: #3498db;
    outline: none;
}

/* Pswd Input */
input[type="password"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #f9f9f9;
    transition: border-color 0.3s, background 0.3s;
}

input[type="password"]:hover {
    background: #f1f1f1;
    border-color: #bbb;
}

input[type="password"]:focus {
    border-color: #3498db;
    outline: none;
}

/* Submit Button */
button[type="submit"] {
    background-color: #78bedb;
    color: #2e2e2e;
    border: none;
    padding: 14px 24px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.8s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li a {
    color: #333;
}

a {
    text-decoration: solid;
    color: #333;
}

li {
    margin-bottom: 15px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
    
}

li:hover {
    text-decoration: none;
    background-color: #e0e0e0;
    transform: scale(1.02);
    color: #007BFF;
}

a:visited {
    color: lightgray;
    text-decoration:wavy;
    
}

button[type="submit"]:hover {
    background-color: #6fcbf2;
}

button[type="submit"]:active {
    background-color: #5b92b8;
    transform: translateY(0);
}

footer {
    margin-top: auto;
    padding: 10px;
    font-style: italic;
    text-align: center;
    bottom: 0;
    position: fixed;
}

footer .version {
    color: #dfdfdf;
    text-align: center;
    font-size: 9px;
    display: block;
}

@media (max-width: 768px) {
    .container {
        padding: 30px;
    }
    h1 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    body {
        height: auto;
        padding: 20px;
    }
    .container {
        padding: 20px;
    }
    h1 {
        font-size: 18px;
    }
    input[type="text"], button[type="submit"] {
        font-size: 14px;
    }
}
