@import url('../base/_variables.css');
@import url('../base/_layout.css');

/* ===== HOME STYLES ===== */

.equipo-principal {
    margin-top: 94px;
    min-height: 1200px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 1.5rem;
    box-sizing: border-box;
    padding: 2rem;
}
