@media (max-width: 768px) {

    .form-perfil {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 28px;
    }

    .boton-principal {
        padding: 10px 15px;
        font-size: 14px;
    }

    .avatar-actual img,
    .avatar-preview,
    .avatar-nueva-preview img {
        width: 80px;
        height: 80px;
    }

    .alerta {
        font-size: 14px;
        padding: 10px;
    }

    .avatar-actual, .avatar-nueva-preview {
        display: block;
        width: 100%;
        text-align: center;
    }

    .campo input {
        padding: 12px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .campo input {
        font-size: 16px;
        padding: 15px;
    }

    .avatar-actual img,
    .avatar-preview,
    .avatar-nueva-preview img {
        width: 60px;
        height: 60px;
    }

    h1 {
        font-size: 24px;
    }

    .form-perfil {
        padding: 15px;
    }



    .campo label {
        font-size: 14px;
    }

    .boton-principal {
        font-size: 14px;
        padding: 12px 18px;
    }

    .alerta {
        font-size: 12px;
    }
}

.perfil-contenido {
    margin-top: 80px;
}
